.titulo {
  font-family: 'Luckiest Guy', cursive;
  font-size: 60px;
  color: #FFCB05;
  -webkit-text-stroke: 3px #2a75bb;
  letter-spacing: 4px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

img {
  transition-duration: 300ms;
  transform: scale(0.8);
}

ion-card:hover {
  cursor: pointer;

  img {
    opacity: 80%;
    transform: scale(1);
    transition-duration: 300ms;
  }
}



@media screen and (max-width: 700px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .titulo {
    font-size: 30px;
    font-family: 'Luckiest Guy', cursive;
    color: #FFCB05;
    -webkit-text-stroke: 1.3px #2a75bb;
    letter-spacing: 3px;
  }
}